# Problem Set 2 CS129.18

The following problem set will revolve around the Pokemon stats dataset.
The dataset `data/Pokemon.csv` has **721** rows and **27** columns. Not all columns are needed for the questions to be asked.

## 1. How many Legendary Pokemon are there? ( 1pt )

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
pokemon = pd.read_csv('data/pokemon.csv')

In [6]:
pokemon.columns

Index(['Number', 'Name', 'Type_1', 'Type_2', 'Total', 'HP', 'Attack',
       'Defense', 'Sp_Atk', 'Sp_Def', 'Speed', 'Generation', 'isLegendary',
       'Color', 'hasGender', 'Pr_Male', 'Egg_Group_1', 'Egg_Group_2',
       'hasMegaEvolution', 'Height_m', 'Weight_kg', 'Catch_Rate',
       'Body_Style'],
      dtype='object')

In [16]:
pokemon.isLegendary.value_counts()

False    675
True      46
Name: isLegendary, dtype: int64

**There are `46` legendary pokemons in the dataset.**

## 2. Who is the Pokemon with the highest attack-to-HP ratio? (Tip: Just get the divide attack by HP) (3pts)

Create a new column which is equal to the ratio of `Attack` and `HP`.

In [24]:
pokemon['A2HP'] = pokemon['Attack']/pokemon['HP']

In [30]:
pokemon[pokemon['A2HP'] == pokemon.A2HP.max()]

,Number,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,...,hasGender,Pr_Male,Egg_Group_1,Egg_Group_2,hasMegaEvolution,Height_m,Weight_kg,Catch_Rate,Body_Style,A2HP
291,292,Shedinja,Bug,Ghost,236,1,90,45,30,30,...,False,NaN,Mineral,NaN,False,0.79,1.2,45,head_base,90.0

**`Shedinja` is the pokemon with the highest attack-to-HP ratio.**

## 3. Build a binary classifier for whether Pokemon are Fire Type or not. (4pts)

In [37]:
(pokemon.Type_1.unique())

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [38]:
(pokemon.Type_2.unique())

array(['Poison', nan, 'Flying', 'Ground', 'Fairy', 'Grass', 'Fighting',
       'Psychic', 'Steel', 'Ice', 'Rock', 'Water', 'Electric', 'Fire',
       'Dragon', 'Dark', 'Ghost', 'Bug', 'Normal'], dtype=object)

In [50]:
pokemon['isFire'] = list(map(lambda x,y: 1 if (x == 'Fire' or y == 'Fire') else 0, pokemon.Type_1, pokemon.Type_2))

In [52]:
pokemon.isFire.value_counts()

0    665
1     56
Name: isFire, dtype: int64

In [58]:
sum(pokemon.Type_1 == 'Fire') + sum(pokemon.Type_2 == 'Fire')

56